* {
	margin: 0;
	padding: 0; 
}

html {
	line-height: 2;
	font-size: 100%;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 1.1rem;
}

a,a:link {
	text-decoration: underline;
}

a:hover,a:active,a:focus {
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	line-height: 1.3;
	margin-bottom: .77em;
	margin-top: .77em;
}

p {
	line-height: 1.33;
	margin-bottom: 1.3em;
}

label {
	display: inline-block;
	margin-bottom: .5rem;
}

.site-header {
	margin: 1em auto 0;
	width: 66%;
	padding: 1em 0;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
}

.logo {
	height: 190px;
	display: block;
	background-image: url(images/logo.jpg);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: contain;
}

.logo p {
	padding-left: 250px;
	padding-top: .3em;
	font-size: 1.33em;
	line-height: 1.5;
}

.site-nav {
	margin: 2em auto;
	width: 66%;
}

.site-nav ul li {
	list-style: none;
	display: inline;
	margin-left: 1em;
	margin-bottom: .5em;
	padding: 5px 10px;
}

.site-nav ul li:first-child {
	margin-left: 0;
}

.site-nav li.active {
	background-color: #ccc;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.site-nav li.active a {
	color: #222;
	text-decoration: none;
}

.site-content {
	margin:3em auto;
	padding: 0 0 3em;
	width: 66%;
}

.site-content h1 {
	margin-bottom: 1em;
}

.site-content ul li {
	margin-left: 3.3em;
	line-height: 1.33;
	margin-bottom: .77em;
}

.site-footer {
	background-color: #ccc;
	margin: 2em 0 0;
	padding: 2em 0;
	text-align: center;
}

.site-footer ul li {
	display: inline;
	margin-right: 1em;
}

.site-footer ul li:last-child {
	margin-right: 0;
}

.facebook,
.instagram {
	display: inline-block;
	padding-left: 32px;
	background-position: 0 4px;
	background-repeat: no-repeat;
}

.facebook {
	background-image: url(images/facebook.png);
}

.instagram {
	background-image: url(images/instagram.png);
}

.form {
	width: 66%;
}

.form legend {
	font-size: 1.2em;
	margin: .77em 0;
}

.form-group {
	margin-bottom: 1em;
}

.form-control {
    display: block;
    width: 100%;
    padding: 8px 2px;
    font-size: 1em;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea.form-control {
    height: auto;
    font-size: 1.2em;
}

.btn {
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    color: #222;
    text-align: center;
    vertical-align: middle;
    background-color: #ccc;
    border: 1px solid #333;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}